.container {
  text-align: center;
}

h1 {
  color: #333;
}

div {
  margin-bottom: 10px;
}

input[type="text"] {
  padding: 8px;
  margin-right: 5px;
}

.add-item {
  padding: 8px;
  cursor: pointer;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 3px;
}

.delete-item {
  padding: 8px;
  cursor: pointer;
  background-color: #ff6464;
  color: #fff;
  border: none;
  border-radius: 3px;
}

.task-list {
  list-style: none;
  padding: 0;
}

.task-list li {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.task-list li.completed {
  text-decoration: line-through;
  color: #888;
}

.task-list li input {
  margin-right: 10px;
}

.task-list li button {
  margin-left: 5px;
  padding: 5px;
  cursor: pointer;
  background-color: #ff6464;
  color: #fff;
  border: none;
  border-radius: 3px;
}
